<mat-card>

  <form>
    <mat-form-field>
      <input matInput placeholder="Search by make" ngModel name="carSearch" (input)="onSearchTextChange($event)">
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Sort by" ngModel name="carSort" (selectionChange)="onSortChange($event)">
        <mat-option value="id_asc">ID (Ascending)</mat-option>
        <mat-option value="id_des">ID (Descending)</mat-option>
        <mat-option value="make_asc">Make (Ascending)</mat-option>
        <mat-option value="make_des">Make (Descending)</mat-option>
        <mat-option value="model_asc">Model (Ascending)</mat-option>
        <mat-option value="model_des">Model (Descending)</mat-option>
        <mat-option value="numberplate_asc">Numberplate (Ascending)</mat-option>
        <mat-option value="numberplate_des">Numberplate (Descending)</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
  <mat-list *ngIf="allCars.length>0">

    <div class="car-item" *ngFor="let car of displayedCars">
      <mat-card class="less-padding">
        <mat-card-header>
          <mat-card-title>
            <h3>Details for car {{ car.id}}</h3>
            <p class="car-make-model">Make and model: {{ car.make }}, {{ car.model }}</p>
            <p class="car-numberplate">Numberplate: {{ car.numberplate }}</p>
          </mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>

  </mat-list>
</mat-card>
